body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    margin-top: 1em;
    font-family: 'Google Sans', sans-serif;
}

.publication-subtitle {
    font-weight: bold;
    font-size: 190% !important;
    font-family: 'Google Sans', sans-serif;
    margin-bottom: 0.5em !important;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    margin-top: 0.5em !important;
    color: #555;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
    margin-bottom: 0.9em;
    margin-top: 0.9em;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.other-video {
  margin-bottom: 1em;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.result-table table {
  max-width: 25cm;
  margin: 0 auto;
}

.result-table td {
  padding: 0.1em !important;
  width: 6em;
}

.result-table td, .result-table-transposed td {
  color: #707070;
}

.result-table b, .result-table-transposed b{
  color: black;
}

.result-table i, .result-table-transposed i {
  color: #202020;
}


.result-table .first-col, .result-table-transposed .first-col {
  color: #202020 !important;
  text-align: left !important;
}

.result-table .first-col {
  border-right: 1px solid #ddd;
  max-width: 5cm !important;
  width: 200px;
}

.result-table th {
  border-bottom: 2px solid black !important;
}

.result-table .average-row {
  border-top: 2px solid black;
}

.result-table .ablation-row {
  background-color: #f5f5f5;
}

.result-table .ablation-row > td {
  border-bottom: none !important;
}

.result-table-transposed .first-col {
  max-width: 5cm !important;
  width: 200px;
}

.result-table-transposed th {
  font-weight: normal !important;
  border-bottom: 2px solid black !important;
  padding: 0.1em !important;
}

.result-table-transposed .metrics-row {
  font-size: 80%;
}

.result-table-transposed table {
  max-width: 30cm;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 2em;
}

.result-table-transposed td {
  padding: 0.1em !important;
  width: 4em;
}